.notification {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: var(--color-dark);
  border-radius: 50%;
  font-size: 8px;
  color: #fff;
  right: -3px;
  top: -3px;
}
